# from my.telegram.org/apps
API_ID=37117970
API_HASH=e36cdcffc6081e2e0720ec52cf6f263a

# from @BotFather on telegram
BOT_TOKEN=
LOGGER_ID=

# mongo url from cloud.mongodb.com
MONGO_URL=mongodb+srv://shy123:shy123@cluster0.5fvnqwr.mongodb.net/?appName=Cluster0

OWNER_ID=

# pyrogram session from @StringFatherBot on telegram
SESSION=
